body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: black;
}

div {
    width: 200px;
    height: 200px;
    background-color: rgb(125, 235, 91);
    border-radius: 50%;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {

    50%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 200px;
        height: 200px;
    }
}